body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.chord-container,
.game-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#nextChordBtn {
    background-color: #007BFF;
    color: #fff;
    margin-left: 10px;
}

#chordDisplay {
    font-size: 24px;
    margin-top: 20px;
}

#optionsContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.option {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #eee;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #ddd;
}
